# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


frontend-window/node_modules
frontend-window/dist
frontend-window/public

frontend-main/node_modules
frontend-main/dist
frontend-main/public

backend/node_modules
backend/public

utools/main
utools/window
utools/fast-window
.DS_Store
dist
dist-ssr
coverage
*.local


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

__pycache__

# my ignore
result.md
result.txt
ToDoList.md



utools/window/*
utools/fast-window/*
utools/main/*
utools/preload.js
utools/window_preload.js
utools/fast_window_preload.js

!utools/window/.gitkeep
!utools/fast-window/.gitkeep
!utools/main/.gitkeep
