@font-face {
  font-family: "iconfont"; /* Project id 3987950 */
  src: url('iconfont.woff2?t=1747053113772') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-utools:before {
  content: "\e601";
}

.icon-stars-fill:before {
  content: "\e646";
}

.icon-download:before {
  content: "\e6d7";
}

.icon-huihua:before {
  content: "\e63d";
}

.icon-mofabang:before {
  content: "\e6d5";
}

.icon-assistant:before {
  content: "\e92e";
}

.icon-bot1:before {
  content: "\e6b8";
}

.icon-wenjian:before {
  content: "\e61c";
}

.icon-file:before {
  content: "\e643";
}

.icon-link:before {
  content: "\e606";
}

.icon-link1:before {
  content: "\e6d6";
}

.icon-xinshou:before {
  content: "\e80d";
}

.icon-n-warning:before {
  content: "\e639";
}

.icon-n-info:before {
  content: "\e617";
}

.icon-n-danger:before {
  content: "\e935";
}

.icon-key:before {
  content: "\e6bb";
}

.icon-chat:before {
  content: "\e699";
}

.icon-add:before {
  content: "\e604";
}

.icon-fun:before {
  content: "\e63f";
}

.icon-to-left:before {
  content: "\e637";
}

.icon-nuclear-outline:before {
  content: "\e7e2";
}

.icon-engine-atom-nuclear:before {
  content: "\e6b0";
}

.icon-delete:before {
  content: "\e692";
}

.icon-vip:before {
  content: "\e623";
}

.icon-help:before {
  content: "\e92c";
}

.icon-setting:before {
  content: "\e785";
}

.icon-dark:before {
  content: "\e866";
}

.icon-system:before {
  content: "\e644";
}

.icon-dot:before {
  content: "\e63b";
}

.icon-share:before {
  content: "\e612";
}

.icon-user:before {
  content: "\e651";
}

.icon-params:before {
  content: "\e666";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-edit1:before {
  content: "\e677";
}

.icon-shangdian:before {
  content: "\e6b1";
}

.icon-light:before {
  content: "\e6b3";
}

.icon-notice:before {
  content: "\e6b6";
}

.icon-cut:before {
  content: "\e66d";
}

.icon-vip-fill1:before {
  content: "\e980";
}

.icon-vip-fill:before {
  content: "\e7ca";
}

.icon-bianji:before {
  content: "\e60c";
}

.icon-message1:before {
  content: "\e60b";
}

.icon-fasong:before {
  content: "\e60d";
}

.icon-copy:before {
  content: "\e613";
}

.icon-arrow-left:before {
  content: "\e686";
}

.icon-down:before {
  content: "\e638";
}

.icon-refresh:before {
  content: "\e62e";
}

.icon-volume-off:before {
  content: "\e7d8";
}

.icon-volume-on-lg:before {
  content: "\e7da";
}

.icon-volume-on:before {
  content: "\e6b5";
}

.icon-voice-on:before {
  content: "\e655";
}

.icon-voice-off:before {
  content: "\e656";
}

.icon-success:before {
  content: "\e636";
}

.icon-audio:before {
  content: "\e624";
}

.icon-close:before {
  content: "\e602";
}

.icon-huati:before {
  content: "\e65a";
}

.icon-more-x:before {
  content: "\e609";
}

.icon-tag:before {
  content: "\e663";
}

.icon-stars:before {
  content: "\e66f";
}

.icon-gift:before {
  content: "\e614";
}

.icon-clear:before {
  content: "\e648";
}

.icon-more-y:before {
  content: "\e7e3";
}

.icon-menu:before {
  content: "\e60e";
}

.icon-arrow-right:before {
  content: "\e687";
}

.icon-bot:before {
  content: "\e654";
}

.icon-buy:before {
  content: "\e619";
}

.icon-search:before {
  content: "\e652";
}

.icon-msg:before {
  content: "\e668";
}

.icon-xiaoxi:before {
  content: "\e66c";
}
